<div style="background-color:white ; color:black">
   <h1>Crear Usuario</h1>
   <form action="Usuario/CrearUsuarioForm" method="post">
      <br>
       <label for="">Nombres</label>
       <input type="text" name="nombres">
       <br>
       <label for="">Apellidos</label>
       <input type="text" name="apellidos">
       <br>
       <label for="">Correo</label>
       <input type="text" name="correo">
       <br>
       <button type="submit">Crear Usuario</button>
   </form>    
</div>