<h1>{{title}}</h1>
<h2>{{error}}</h2>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <form class="animated bounceIn" (ngSubmit)="crearTienda(NuevaTiendaForm)" #NuevaTiendaForm="ngForm">
        <div class="form-group">
          <label>Tienda</label>
          <span *ngIf="nombre.errors &&(nombre.dirty||nombre.touched)">Ingrese un nombre minimo con 4 caracteres</span>
          <input required minlength="4" type="text" class="form-control" placeholder="Nombre de la tienda: Adidas"
                 name="nombre"
                 [(ngModel)]="nuevaTienda.nombre" #nombre="ngModel" #nombreElm>
        </div>
        <button [disabled]="disabledButtons.NuevaTiendaFormSubmitButton||!NuevaTiendaForm.valid" type="submit"
                class="btn btn-block btn-success">Crear
        </button>
      </form>
    </div>
    <div class="col-sm-6">
      <h1>{{nuevaTienda.nombre}}</h1>
    </div>
  </div>


</div>
<br>
<div class="container">
  <div class="col-sm-4 animated flipInX" *ngFor="let tienda of tiendas">
    <div class="text-center">
      <h3>{{tienda.nombre}}</h3>
      <p>ID: {{tienda.id}}</p>
    </div>
    <div class="row" [hidden]="!tienda.formularioCerrado">
      <div class="col-sm-5">
        <button class="btn btn-block btn-info" (click)="tienda.formularioCerrado=!tienda.formularioCerrado">Actualizar</button>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-5">
        <button class="btn btn-block btn-danger" (click)="borrarTienda(tienda.id)">Borrar</button>
      </div>
      <div class="col-sm-12">
        <a [routerLink]="[tienda.id,'producto']">Ir a Productos...</a>
      </div>
    </div>
    <div class="row" [hidden]="tienda.formularioCerrado">
      <form class="animated fadeInDown" (ngSubmit)="actualizarTienda(tienda)" #NuevaTiendaForm="ngForm">
        <div class="form-group">
          <label>Tienda</label>
          <span *ngIf="nombre.errors &&(nombre.dirty||nombre.touched)">Ingrese un nombre minimo con 4 caracteres</span>
          <input required minlength="4" type="text" class="form-control" placeholder="Nombre de la tienda: Adidas"
                 name="nombre"
                 [(ngModel)]="tienda.nombre" #nombre="ngModel" #nombreElm>
        </div>
        <div class="row">
          <button [disabled]="disabledButtons.NuevaTiendaFormSubmitButton||!NuevaTiendaForm.valid" type="submit"
                  class="btn btn-block btn-success">Actualizar</button>
          <button type="button" class="btn btn-block btn-warning" (click)="tienda.formularioCerrado=!tienda.formularioCerrado">Cancelar</button>

        </div>
      </form>
    </div>
  </div>
</div>
<br>
<div class="container">
  <pre>
    {{tiendas|json}}
  </pre>
</div>
