<style>
    .rojo{
        background-color:red;
    }
</style>
<div class="rojo">
    <h1>Aqui empieza el Home</h1>

    <p>Ya sabemos como funciona el sails .js</p>


    <h1>Aqui finaliza el home</h1>
</div>
